* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1148px;
    margin: 0 auto;
}



header {
    background: url(https://images.unsplash.com/photo-1603985529862-9e12198c9a60?auto=format&fit=crop&q=80&w=1722&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 450px;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    margin-bottom: 10rem;
    
    box-shadow: inset 0 0 0 0 4000px rgba(0, 0, 0, 0.7);
}
 nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
 }

 nav a {

    color: #ffff;
    text-decoration: none;
 }

 .header-infotop {
    margin-top: 10rem;
    

 }

 .header-infotop h3 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
 }

 .header-info {
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 1.5rem;
 }

.header-btn button {
    padding: 0.5rem;
    width: 200px;
    background-color: #006C6C;
    color: #ffff;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 1rem;
}
.header-btn button:hover {

    background: #58cf78;
}